workflows/exports/001.014 - Postgres - Atualizar Dados Cliente.json
{
  "name": "001.014 - Postgres - Atualizar Dados Cliente",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM cliente\nWHERE id_planilha = '{{ $item(\"0\").$node[\"Webhook\"].json[\"content\"][\"ID Planilha\"] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        -64
      ],
      "id": "b6a83073-1f26-4f82-b435-be61d56dd46c",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "LVCJiRba2gV4yM7S",
          "name": "Metricas - Clientes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e61b1dcb-ebaf-4a43-a4c1-27b1830daccc",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"content\"][\"col_4\"] }}",
              "type": "string"
            },
            {
              "id": "df6d49a3-e54a-4ae9-89b8-16d3f530f490",
              "name": "id_planilha",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"content\"][\"ID Planilha\"] }}",
              "type": "string"
            },
            {
              "id": "6d03b991-4d48-4c33-8564-d7bf5f963cd5",
              "name": "id_conta_anuncio",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"content\"][\"ID Conta de Anuncio\"] }}",
              "type": "string"
            },
            {
              "id": "4b9f838c-de3c-4d0d-85cf-25d7d7eca535",
              "name": "status",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"content\"][\"Status Cliente\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -64
      ],
      "id": "54cb2b4d-3aed-4bd0-b25a-82b9561f70a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ===== Entradas =====\nconst planilha = $item(\"0\").$node[\"Edit Fields\"].json;\nconst banco = $item(\"0\").$node[\"Execute a SQL query\"].json;\n\n// Campos que NÃO entram na comparação / insert\nconst ignoredFields = ['id', 'ultima_atualizacao'];\n\n// ===== Verificar se banco está vazio =====\nconst bancoVazio =\n  !banco ||\n  Object.keys(banco).length === 0;\n\n// ===== Caso NÃO exista registro no banco → INSERT =====\nif (bancoVazio) {\n\n  const campos = Object.keys(planilha).filter(\n    key => !ignoredFields.includes(key)\n  );\n\n  const colunas = campos.join(', ');\n\n  const valores = campos\n    .map(campo => {\n      const valor = planilha[campo];\n      if (valor === null || valor === undefined) return 'NULL';\n      return `'${String(valor).replace(/'/g, \"''\")}'`;\n    })\n    .join(', ');\n\n  const query = `\n    INSERT INTO cliente (${colunas})\n    VALUES (${valores});\n  `.trim();\n\n  return [\n    {\n      json: {\n        atualizar: false,\n        inserir: true,\n        motivo: 'Registro não encontrado no banco',\n        query\n      }\n    }\n  ];\n}\n\n// ===== Campos comuns =====\nconst camposComuns = Object.keys(planilha).filter(\n  key =>\n    banco.hasOwnProperty(key) &&\n    !ignoredFields.includes(key)\n);\n\n// ===== Comparação =====\nconst camposDiferentes = {};\n\nfor (const campo of camposComuns) {\n  const vPlanilha = planilha[campo] ?? null;\n  const vBanco = banco[campo] ?? null;\n\n  if (String(vPlanilha) !== String(vBanco)) {\n    camposDiferentes[campo] = vPlanilha;\n  }\n}\n\n// ===== Se não houver diferenças =====\nif (Object.keys(camposDiferentes).length === 0) {\n  return [\n    {\n      json: {\n        atualizar: false,\n        motivo: 'Dados iguais entre planilha e banco'\n      }\n    }\n  ];\n}\n\n// ===== Montar UPDATE =====\nconst setClause = Object.entries(camposDiferentes)\n  .map(([campo, valor]) => {\n    if (valor === null) return `${campo} = NULL`;\n    return `${campo} = '${String(valor).replace(/'/g, \"''\")}'`;\n  })\n  .join(', ');\n\n// ===== Query final =====\nconst query = `\n  UPDATE cliente\n  SET ${setClause}\n  WHERE id_planilha = '${planilha.id_planilha}'\n    AND id_conta_anuncio = '${planilha.id_conta_anuncio}';\n`.trim();\n\nreturn [\n  {\n    json: {\n      atualizar: true,\n      inserir: false,\n      campos_alterados: camposDiferentes,\n      query\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -64
      ],
      "id": "772dd8f5-300c-4e03-84df-555c009a488f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $item(\"0\").$node[\"Code in JavaScript\"].json[\"query\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -192
      ],
      "id": "5d204a29-5c83-4ff3-914b-15a2aeaf1ae8",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "LVCJiRba2gV4yM7S",
          "name": "Metricas - Clientes"
        }
      }
    },
    {
      "parameters": {
        "queue": "dados_sdr",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "onlyContent": false,
          "parallelMessages": 1
        }
      },
      "id": "704327e8-697c-438f-a6cd-4c142c7b8fb4",
      "name": "Webhook",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        -80
      ],
      "credentials": {
        "rabbitmq": {
          "id": "3rqLP8OStt7TaymP",
          "name": "RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage"
      },
      "id": "de0950b2-5fb1-46dd-91a2-5f4d36443e4c",
      "name": "RabbitMQ",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        -1152,
        -304
      ],
      "credentials": {
        "rabbitmq": {
          "id": "3rqLP8OStt7TaymP",
          "name": "RabbitMQ"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ac294f23-e2e4-4b77-aa36-6c690f09dba6",
              "leftValue": "={{ $json.fields.redelivered}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2dfbb4c1-5b8c-4dbc-9d90-b09b599b1425",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1456,
        -80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $item(\"0\").$node[\"Code in JavaScript\"].json[\"atualizar\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1a5a9d71-06be-4b7f-933d-6935773e8e1e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7cc4eef-d0a5-4826-b05e-809f5b463056",
                    "leftValue": "={{ $item(\"0\").$node[\"Code in JavaScript\"].json[\"inserir\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inserir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -64
      ],
      "id": "7f9efae2-9e4a-41a5-81fe-36a514616d79",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $item(\"0\").$node[\"Code in JavaScript\"].json[\"query\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        32
      ],
      "id": "07111972-97f0-4d93-a8fc-33715086f179",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "LVCJiRba2gV4yM7S",
          "name": "Metricas - Clientes"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-ovtYA72htXvacxm7RJ7p2Q",
            "deliveryTag": 501,
            "redelivered": false,
            "exchange": "",
            "routingKey": "dados_sdr"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "row_number": 74,
            "ID Planilha": "1_Ys2yJYnPQc9J8PPye07Sw9Q7PqsNJv2LEB-EuJLxz8",
            "Status Cliente": "Ativo",
            "ID Conta de Anuncio": 3261092994150911,
            "col_4": "Nathália Manzini",
            "col_5": "",
            "col_6": "Coleta de Dados | Nathália Manzini"
          }
        }
      }
    ]
  },
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "35f0004a-c3d7-44f6-9d3a-421c880dedd5",
  "meta": {
    "instanceId": "dc3c1297cfe97c5f2f51d1bbe7b780e8e785c95632e96874a8b2789f41a66456"
  },
  "id": "4L3UoZGFAsWofZYx",
  "tags": []
}